body {
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-image: url('./assets/blank\ letter\ paper.jpg');
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0); 
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.submitButton {
  background-color: rgb(200, 190, 255);
  padding: 3px 15px;
  font-size: .9em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.auth-wrapper text {
  color:rgb(0, 0, 0);
}
.auth-wrapper button {
  background-color: rgb(191, 238, 239);
  color:rgb(0, 0, 0);
}
.auth-wrapper input {
  border-color: black;
}
.tea-result {
  text-align: center;
}
.encouragement{
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
