body {
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-image: url('./assets/blank\ letter\ paper.jpg');
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.login-message {
  color:rgb(97, 49, 143);
  font-size: 1.2em;
}
.tea-image {
  height: 10em;
}
.submitButton {
  background-color: rgb(200, 190, 255);
  padding: 3px 15px;
  font-size: .9em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.auth-wrapper label {
  color:rgb(30, 3, 146);
  font-size: 1.1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.auth-wrapper button {
  background-color: rgb(203, 193, 255);
  color:rgb(0, 0, 0);
  border-color: rgb(65, 0, 78);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.auth-wrapper input {
  border-color: black;
}
.auth-wrapper a[href*="auth-forgot-password"] {
  display: none !important;
}
.auth-wrapper a[href*="auth-sign-up"] {
  color:rgb(38, 33, 44);
}
.tea-result {
  text-align: center;
  margin-left: 19em;
  margin-right: 19em;
}
.encouragement{
  text-align: center;
  margin-left: 19em;
  margin-right: 19em;
}
.input-field {
  width: 10em;
  height: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-color: rgb(109, 53, 251);
  color:rgb(4, 2, 103);
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
